<a href="https://colab.research.google.com/github/guscldns/TestProject/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%95%A9%EC%B9%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# 연습용 데이터 파일 업로드

In [3]:
df1 = pd.read_csv("concat_1.csv")
df2 = pd.read_csv("concat_2.csv")
df3 = pd.read_csv("concat_3.csv")
# 연습용 데이터 불러오기

In [4]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [6]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [7]:
# df1, df2, df3 : ABCD 열이름이 똑같음

pd.concat([df1, df2, df3])

# concat : 여러개의 데이터 프레임을 하나의 데이터 프레임으로 합치는 함수
# 기본 열이름 기준으로 합침

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [8]:
concat1 = pd.concat([df1, df2, df3])
# concat1 이라는 변수에 데이터 넣어놓음
# concat1 = pd.concat([df1, df2, df3], axis = 0) 이라고 되어 있는 것
# axis= 0 는 숨겨져 있음
concat1

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [9]:
concat1.loc[0]
# loc : [] 안에 해당하는 행을 가져와라

    A   B   C   D
0  a0  b0  c0  d0
0  a4  b4  c4  d4
0  a8  b8  c8  d8

In [12]:
concat1 = pd.concat([df1, df2, df3],ignore_index=True)
# ignore_index : 오름차순 정렬 / 기준이 열이름이라 행번호가 오름차순 정렬
concat1

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [13]:
concat1 = pd.concat([df1, df2, df3], axis = 1)
# concat : 데이터 합쳐라
# axis = 1 : 행 이름 기준으로 합치기 ↔ axis = 0 : 열 이름 기준
concat1

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [14]:
concat2 = pd.concat([df1, df2, df3], axis = 1)
concat2
# concat2에 행이름 기준으로 정렬한 데이터 넣음

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [15]:
concat2['A']
# A라고 되어 있는 열의 데이터 확인

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [18]:
concat2 = pd.concat([df1, df2, df3], axis = 1, ignore_index=True)
concat2
# ignore_index : 오름차순 정렬/ 행번호가 기준이라 열이름이 오름차순 정렬
# 정렬하면 0부터 숫자로 정렬

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [23]:
df2.index 
# 행 이름 확인

Int64Index([0, 3, 5, 7], dtype='int64')

In [19]:
df2.index = [0,3,5,7]
df2
# df2.index = [0,3,5,7] : 행이름 [] 이름으로 변경

    A   B   C   D
0  a4  b4  c4  d4
3  a5  b5  c5  d5
5  a6  b6  c6  d6
7  a7  b7  c7  d7

In [20]:
pd.concat([df1, df2, df3], axis = 1)
# 없는 열의 값은 NaN으로 나타냄
# 강제로 데이터를 채워서라도 합쳐줌

     A    B    C    D    A    B    C    D    A    B    C    D
0   a0   b0   c0   d0   a4   b4   c4   d4   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN   a9   b9   c9   d9
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN  a10  b10  c10  d10
3   a3   b3   c3   d3   a5   b5   c5   d5  a11  b11  c11  d11
5  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  NaN  NaN  NaN  NaN

In [22]:
df2.columns
# 열 이름 확인

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df2.columns = ['A', 'C', 'E', 'F']
df2
# 열 이름 변경
# df2.columns = ['A', 'C', 'E', 'F'] : 열 이름을 [] 안에 이름으로 바꿔라

    A   C   E   F
0  a4  b4  c4  d4
3  a5  b5  c5  d5
5  a6  b6  c6  d6
7  a7  b7  c7  d7

In [26]:
pd.concat([df1, df2, df3])
# 없는 열의 데이터를 NaN으로 만들어서라도 합침

     A    B    C    D    E    F
0   a0   b0   c0   d0  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN
0   a4  NaN   b4  NaN   c4   d4
3   a5  NaN   b5  NaN   c5   d5
5   a6  NaN   b6  NaN   c6   d6
7   a7  NaN   b7  NaN   c7   d7
0   a8   b8   c8   d8  NaN  NaN
1   a9   b9   c9   d9  NaN  NaN
2  a10  b10  c10  d10  NaN  NaN
3  a11  b11  c11  d11  NaN  NaN